:root {
  --font-family: "Roboto", sans-serif;
  --hover-color: #dec6a3;
}
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-family);
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-VariableFont.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  color: #3d3f43;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

button {
  cursor: pointer;
}
img {
  margin: 0;
}
input {
  outline: none;
}

.container {
  padding: 0 20px;
}
.small-container {
  padding: 0 20px 0 13px;
}

@media only screen and (min-width: 1440px) {
  .container,
  .small-container {
    padding: 0 170px;
  }
}
